@use 'variaveis';

.hero {
    padding: 5.6vw;
    min-height: 80vh;
    text-align: center;
    background-image: url(/src/velozes/capaprincipal.jpg);
    background-size: cover; 

    @media (max-width: 768px){
        background-image: url(/src/velozes/capaprincipal.jpg);
        padding-top:calc(50vw + 25px) ;
        background-size: contain;
        background-repeat: no-repeat;
        margin-top: -55px;
    }
}